@page
@model MenuModel
@{
    ViewData["Title"] = "About";
}

<div class="container">
    <h1 class="mt-4 mb-3">
        Our Menu
    </h1>
    <hr />
    <h3>Brain food, comfort food..we have it all.</h3>
    <p>Our coffee is imported from fair trade establishments throughout the world.  Our food is made with all natural ingredients and sourced from local farms.  We're committed to sustainability!</p>
    <div class="row">
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a href="/item"><img class="card-img-top" src="~/images/menu/pumpkinbread.png" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a class="color-main" href="#">Frosted Pumpkin Bread</a>
                    </h4>
                    <p class="card-text">A seasonal delight we offer every autumn.  Pumpkin bread with just a bit of spice, cream cheese frosting with just a hint of home.</p>
                </div>
                <div class="card-footer">
                    <a href="/item" class="btn btn-success w-100">Details & Nutrition</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="~/images/menu/ground.png" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="/item">Ground to Go</a>
                    </h4>
                    <p class="card-text">Love our coffee? Take it with you so you never have to be without!</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-success w-100">Details & Nutrition</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="~/images/menu/granola.png" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="#">Granola with Nuts</a>
                    </h4>
                    <p class="card-text">It's not flashy, but it sure is healthy.  Perfect for when you need the calories, but not the guilt.</p>
                </div>
                <div class="card-footer">
                    <a href="/item" class="btn btn-success w-100">Details & Nutrition</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="~/images/menu/beans.jpg" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="#">Bean there, done that!</a>
                    </h4>
                    <p class="card-text">Do you prefer to grind your own coffee? No problem, we'll give you the beans.</p>
                </div>
                <div class="card-footer">
                    <a href="/item" class="btn btn-success w-100">Details & Nutrition</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="~/images/menu/bagel.png" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="#">Fresh Bagels</a>
                    </h4>
                    <p class="card-text">They're just as round as donuts, but far more healthy! Freshly made every morning before sunrise.</p>
                </div>
                <div class="card-footer">
                    <a href="/item" class="btn btn-success w-100">Details & Nutrition</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="~/images/menu/strawberries.png" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="#">Fresh Fruit</a>
                    </h4>
                    <p class="card-text">We've got strawberries, blueberries, apples, bananas - we could list them all, but we'd prefer you come take a look!</p>
                </div>
                <div class="card-footer">
                    <a href="/item" class="btn btn-success w-100">Details & Nutrition</a>
                </div>
            </div>
        </div>
    </div>
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
    </ul>
</div>
